<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lịch học</title>
</head>
<body>
<div class="container">
    <aside class="sidebar">
        <div class="logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/20/FPT_Polytechnic.png" alt="Logo" width="150">
        </div>
        <nav>
            <ul>
                <li><a th:href="@{/hocSinh/hocSinhMainPage}"><i class="fas fa-check-square"></i> Thông báo và tin tức</a></li>
                <li><a th:href="@{/hocSinh/hocSinhDiemDanh}"><i class="fas fa-calendar-alt"></i> Điểm danh</a></li>
                <li><a th:href="@{/hocSinh/hocSinhLichHoc}"><i class="fas fa-book-open"></i> Lịch học</a></li>
                <li><a th:href="@{/hocSinh/hocSinhBangDiem}"><i class="fas fa-bell"></i> Điểm</a></li>
                <li><a th:href="@{/hocSinh/hocSinhKhenThuong}"><i class="fas fa-heart"></i> Khen thưởng/Kỷ luật</a></li>
                <li><a th:href="@{/hocSinh/hocSinhBangDiem}"><i class="fas fa-file-alt"></i> Đợt thu bổ sung hồ sơ</a></li>
                <li><a th:href="@{/hocSinh/hocSinhVi}"><i class="fas fa-wallet"></i> Ví sinh viên</a></li>
                <li><a th:href="@{/hocSinh/dinhVuTrucTuyen}"><i class="fas fa-headset"></i> Dịch vụ trực tuyến</a></li>
            </ul>
        </nav>
    </aside>

</div>
</body>
</html>